Package: com.jez.dontfreeze
Name: DontFreeze
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jez
Author: Jez
Section: Tweaks
